<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
        <title>Blog Tings</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>

    <script src="/js/string-functions.js"></script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>

    <div class="ui top fixed menu">
        <% if(isAuth) { %>
            <a class="item" href="/feed">Feed</a>
            <a class="item" href="/posts/new">New Post</a>
        <% } %>
        <a class="item" href="/posts/search">Search</a>
        <div class="right menu">
            <% if(isAuth) { %>
                <a class="item" href="<%= user.blogname %>"><%= user.username %></a>
                <a class="item" href="/logout">Logout</a>
            <% } else { %>
                <a class="item" href="/logout">Login</a>
                <a class="item" href="/signup">Sign Up</a>
            <% } %>
        </div>
    </div>

