<div class="ui top fixed menu">
    <% if(isAuth) { %>
        <a class="item" href="/feed">Feed</a>
        <a class="item" href="/posts/new">New Post</a>
    <% }; %>
    <a class="item" href="/posts/search">Search</a>
    <div class="right menu">
        <% if(isAuth) { %>
            <a class="item" href="<%= user.blogurl %>"><%= user.username %></a>
            <a class="item" href="/logout">Logout</a>
        <% } else { %>
            <a class="item" href="/logout">Login</a>
            <a class="item" href="/signup">Sign Up</a>
        <% }; %>
    </div>
</div>