<form action="/new" method="POST">

    <input type="text" name="post[title]" placeholder="Title"/>
    <textarea name="post[body]" placeholder="What do you have to say..."></textarea>
    <button>Post</button>

</form>