<% include ./partials/pre-header %>

<div class="ui main text w-30 segment">

    <form class="ui form" autocomplete="off" action="/signup" method="POST">

        <div class="field">
            <input type="text" name="username" placeholder="Username..." required/>
        </div>
        <div class="field">
            <input type="text" name="blogname" placeholder="Name your blog..." required/>
        </div>
        <div class="field">
            <input type="email" name="email" placeholder="Email..." required/>
        </div>
        <div class="field">
            <input type="password" name="password" placeholder="Password..." required/>
        </div>

        <button class="ui primary button">Sign Up!</button>

    </form>

</div>


<% include ./partials/footer %>