<% include ./partials/header %>

<div class="ui main text w-30 segment">

    <form id="newPost" class="ui form" autocomplete="off" action="/posts/new" method="POST">

        <div class="field">
            <input type="email" name="post[email]" placeholder="Email..." required/>
        </div>
        <div class="field">
            <input type="password" name="post[password]" placeholder="Password..." required/>
        </div>

        <button class="ui primary button">Sign Up!</button>

    </form>

</div>


<% include ./partials/footer %>